button{
    border-radius: 10px;
    background-color: rgb(123, 213, 243);
    height: 30px;
    color: white;
    border: 2px solid rgb(138, 137, 209) ;
}



button:hover {
    background-color: aquamarine;
    color: black;
}


h1 {
    color: rgb(243, 13, 13);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}