body {
    background-color: lightgrey;
}

div {
    background-color: rgb(190, 183, 183);
    width: 300px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    border-radius: 15px;
}



button{
    border-radius: 10px;
    background-color: rgb(123, 213, 243);
    height: 30px;
    color: white;
    border: 2px solid rgb(138, 137, 209) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover {
    background-color: aquamarine;
    color: black;
    
}


h1 {
    color: rgb(243, 13, 13);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}